{% extends "layout.html" %}

{% block title %}
tweet App main page
{% endblock %}

{% block content %}

<h1 class="text-center m-4">Wlecome to Tweet App Project</h1>
<h2>
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}" class="btn btn-primary">Back to Tweet List</a>
</h2>

{% endblock %}